

@font-face {
    font-family: "fontawesome-webfont";
    scr: url("../fonts/fontawesome-webfont.woff") format("woff"),
    url("../fonts/fontawesome-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MYRIADPRO-REGULAR";
    scr: url("../fonts/MYRIADPRO-REGULAR.woff") format("woff"),
    url("../fonts/MYRIADPRO-REGULAR.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansationbold';
    src: url('7fonts.ru_sansation_bold-webfont.woff2') format('woff2'),
         url('7fonts.ru_sansation_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sansationlight';
    src: url('7fonts.ru_sansation_light-webfont.woff2') format('woff2'),
         url('7fonts.ru_sansation_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sansationregular';
    src: url('7fonts.ru_sansation_regular-webfont.woff2') format('woff2'),
         url('7fonts.ru_sansation_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neotericbold';
    src: url('neoterice_-_bold_demo_version-webfont.woff2') format('woff2'),
         url('neoterice_-_bold_demo_version-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neotericregular';
    src: url('neoterice_-_regular_demo_version-webfont.woff2') format('woff2'),
         url('neoterice_-_regular_demo_version-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}